h1 {
    color: #21879D; /* Altere para a cor desejada */
}

h2 {
    color: rgba(0, 0, 0, 0.705); /* Altere para a cor desejada */
}

/* Cabeçalho */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.borda-horizontal {
    height: 50px;
    background-color: #21879D; /* Cor da borda no início */
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.livros-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os livros se movam para a próxima linha se não houver espaço */
    justify-content: space-between; /* Espaço entre os livros */
    padding: 20px;
}

.livro {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: calc(25% - 20px); /* 25% da largura do container menos as margens */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s; /* Animação suave ao passar o mouse */
}

.livro:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.livro img {
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
    height: 200px; /* Define uma altura fixa */
    object-fit: contain; /* Ajusta a imagem para caber no espaço sem cortar */
    border-radius: 5px;
}

footer {
    background-color: #21879D; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    padding: 70px;
    text-align: center;
}

/* Responsividade */
@media (max-width: 1200px) {
    .livro {
        width: calc(33.33% - 20px); /* 3 livros por linha */
    }
}

@media (max-width: 900px) {
    .livro {
        width: calc(50% - 20px); /* 2 livros por linha */
    }
}

@media (max-width: 600px) {
    .livro {
        width: 100%; /* 1 livro por linha */
    }
}
