.section-perfil{
    margin-top: 1%;
}

.welcome-text-perfil {
    font-size: 1.3rem; /* Tamanho grande para destacar a frase */
    font-weight: 300; /* Peso de fonte mais forte para dar destaque */
    color:#21879D; /* Cor escura, sóbria e profissional */
    text-align: center; /* Centraliza o texto */
    letter-spacing: 1px; /* Aumenta o espaçamento entre as letras */
    margin-top: 20px; /* Espaço acima do texto */
    margin-left: 2%;
  }

.img-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}

@media (max-width: 950px) {
    .section-perfil{
        margin-top: 10%;
    }
    
}

.nav-perfil{
    padding: 15px 0;
}