/* Estilo geral do menu */

  .dropdown {
    position: relative;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    padding: 14px 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 17px;
    color: #255868;
  }
  
  /* Adiciona a seta ao lado do botão */
  .dropdown .dropbtn::after {
    content: '▼'; /* Símbolo da seta */
    font-size: 12px; /* Tamanho */
    margin-left: 8px; /* Espaçamento */
    color: #255868;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  /* Gira a seta quando o dropdown é ativado */
  .dropdown:hover .dropbtn::after {
    transform: rotate(180deg);
  }
  
  /* Estilo do dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 90%;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espaçamento entre os links */
    width: 100%; /* Faz o link ocupar toda a largura disponível */
  }
  
  
  .dropdown-content a:hover {
    background-color: #86c4c1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  