

  .video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os vídeos */
    justify-content: center; /* Centraliza os vídeos no contêiner */
    padding: 30px;
  }
  
  .video-container iframe {
    flex: 0 0 calc(33.33% - 20px); /* 33.33% da largura menos o espaço do gap */
    height: 250px; /* Altura fixa dos vídeos */
    border-radius: 8px; /* Bordas arredondadas */
    border: 2px solid #21879D;  /* Borda preta dupla */
    margin: 10px 0; /* Espaçamento vertical */
  }
  
  @media (max-width: 768px) {
    .video-container iframe {
      flex: 0 0 100%; /* Em telas menores, os vídeos ocupam 100% da largura */
    }
  }
  
